@import url("https://fonts.google.com/specimen/Nunito+Sans");

* {
  box-sizing: border-box;
}

:root {
  --background-el: hsl(0, 0%, 100%);
  --body: hsl(0, 0%, 98%);
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--body);
  margin: 0;
}

body.dark {
  --body: hsl(207, 26%, 17%);
  --background-el: hsl(200, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

header {
  background-color: var(--background-el);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.12);
}

img {
  max-width: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  max-width: auto;
  padding: 30px;
  position: relative;
}

h1 {
  margin: 0;
}
/* Theme button styling*/
.btn-toggle {
  font-size: 16px;
  color: inherit;
  cursor: pointer;
  background-color: var(--background-el);
  display: flex;
  justify-content: space-between;
  width: 120px;
  align-items: center;
  cursor: pointer;
  border: 1px solid #4e4e4e00 !important;
}

.btn-toggle .fas {
  display: none;
}

body.dark .btn-toggle .fas {
  display: inline-block;
}
body.dark .btn-toggle .far {
  display: none;
}

/* Input Search */

.search {
  padding: 25px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.12);
  min-width: 300px;
  font-size: 14px;
  color: inherit;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--background-el);
}
.search::placeholder {
  color: inherit;
}

/* Drop Down Styling */

.dropdown {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.12);
  padding: 20px;
  font-size: 14px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  background-color: var(--background-el);
}

.dropdown .fa-chevron-down {
  margin-left: 10px;
}

.dropdown ul {
  padding: 20px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: var(--background-el);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.12);
  list-style: none;
  display: none;
  z-index: 99;
}

.dropdown.open ul {
  display: block;
}

.dropdown ul li {
  margin: 10px 0;
}

/* Country Card Styling */

.card {
  width: 280px;
  max-width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  margin: 5%;
  background-color: var(--background-el);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 30px;
}
.card-body h3 {
  margin-top: 0;
}
.container.countries {
  margin-top: -40px;
  justify-content: center;
}

.container.countries {
  justify-content: center;
  margin: auto;
}

/* Modal Stylyng */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--body);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  display: none;
}

.modal .container {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--background-el);
  width: 85vw;
  height: 65vh;
  justify-content: space-around;
}

.modal img {
  max-width: 35%;
}

.modal-body {
  padding: 0px;
  display: flex;
  justify-content: space-around;
  width: 53%;
  position: relative;
}

.border-countries {
  position: absolute;
  bottom: -100px;
  left: -77%;
}
.left-on-desktop {
  text-align: left;
  margin-right: 1.5rem;
}
.right-on-desktop {
  text-align: left;
  align-self: center;
}

@media screen and (max-width: 850px) {
  .modal img {
    max-width: 70%;
    min-width: 230px;
  }
  .modal-body {
    width: 100%;
    padding: 0;
    padding-bottom: 2rem;
  }

  .modal .container {
    height: 65vh;
    width: 65vw;
  }
  .border-countries {
    left: 0%;
    bottom: -7%;
  }
}

@media screen and (max-width: 500px) {
  .modal .container {
    width: 80vw;
    height: 80vh;
  }

  .border-countries {
    left: 0%;
  }

  .modal-body {
    flex-direction: column;
    font-size: 0.7rem;
  }

  .right-on-desktop {
    text-align: left;
    align-self: unset;
  }

  .dropdown {
    margin-top: 1rem;
  }
  .container {
    padding: 30px 30px 50px 30px;
  }
  .btn-toggle {
    margin-top: 1rem;
  }
}

.btn-close {
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  color: inherit;
  background-color: var(--background-el);
}
